.blue-bkgrd {
    background-color: #005cbf;
    color: #fff;
}
.card-def {
    margin-right: 1.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 6px #666;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}